.footerContainer {
  background: linear-gradient(135deg, #314482 20%, #081F69 65%);
  color: #fff;
  text-align: center;
  padding: 10px;
  border-top: 5px solid #ECA83E;
  font-family: monospace;
  margin-top: 40px;
  width: 100%;
}

.text {
  margin: 5px 0;
  font-size: 1rem;
  letter-spacing: 1px;
}

.highlight {
  color: #FFD700;
  font-weight: bold;
}