.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  position: relative;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4), 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.closeButton {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  background-color: #fafafa;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(112, 112, 112);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.closeButton:hover {
  background-color: #c9302c;
}