.Title {
  font-size: 2.5rem;
  font-weight: 900;
  color: #FFD700; /* Amarillo Blockbuster */
  background-color: #00509E; /* Azul Blockbuster */
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8); /* Sombra dura estilo retro */
  margin-bottom: 20px;
}